.Form {
  display: flex;
  flex-direction: column;
}

.Button {
  background-color: burlywood;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 0.4rem, 0.8rem;
  margin: 1rem 0;
}

input {
  padding: 0.3rem;
}

h3 {
  font-size: 15px;
  color: black;
  font-style: oblique;
}
